body {
    background-image: url('./images/background-image-2.jpg');
    background-size: cover;
    box-sizing: border-box;

}


.container {
    min-height: 100vh;
    align-content: center;
    justify-content: center;
}

.card {
    background-color: rgba(0, 0, 0, 0.5);
    height: 250px;
    margin: 0 auto;
    width: 30%;
    padding: 20px;
    align-items: center;
    fill-opacity: calc(1.5rem);
    color: white;
}


/* .transparent-bg {
    background-color: rgba(0, 0, 0, 0.5); /* Black with 50% opacity */
/* } */